h1 {
	border: 5px solid black;
	text-align:right;
	color: #B3B0AF;
	font-family: arial;
	font-size:40;
	background-color: gray;
}

h2 
{

	text-align:right;
	text-shadow: 0 0 4;
color: #B3B0AF;
}


a:link 
{
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}



h5
{ 
text-align: right;
font-size:25;
color: gray;
text-decoration: underline;
font-style: italic;
}

h4
{ 
text-align: center;
font-size:25;
color: gray;
text-decoration: underline;
font-style: italic;
}

div
{
	font-size: 20px;
	color: #320645;
	text-align: right;
	vertical-align:top;
	font-family: sans-serif;
	background-color: #B3B0AF;
}


table 
{ 
	text-align: right;
	border: 4px solid black;
	width: 50%;
	height: 30%;
	font-family: courier new;
	border-collapse: collapse;
}
tr,th 
{
	border: 2px solid black;
}
img 
{
	opacity: 0.8;
	border-radius: 20px;
}
li:hover{
	color: #2200ff;
}
ol {

text-align: center;
}	



body {	background-color: white; }
